#index {
  background: image-url("bandwchess.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5px;
  height: inherit;
}

#new {
  background: image-url("pawnonmany.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 5px;
  height: inherit;
}

#show {
  background: image-url("glasschess.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 5px;
  height: inherit;
}
