#gamesheader {
  color: #ffffff;
  font-weight: 600;
  margin-left: 30px;
  padding-top: 30px;
  font-family: fantasy;
}
#gamesbody {
  margin-left: 30px;
  color: #9bb0bb;
  padding: 10px;
}
#cbwithgys {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

#cbgylist {
  display: inline-block;
}

#chessboard {
  border-collapse: collapse;
  margin: 0 auto .5em auto;
  padding-top: 40px;
  width: auto;
  border: 3px solid black;
}

#chessboard tr:nth-child(even) td:nth-child(even),
#chessboard tr:nth-child(odd) td:nth-child(odd) {
  background-color: #5c90a1;
}

#chessboard tr:nth-child(even) td:nth-child(odd),
#chessboard tr:nth-child(odd) td:nth-child(even) {
  background-color: #15364b;
}

#chessboard tr, #chessboard td {
  border: 3px solid black;
}

#chessboard td {
  width: 65px;
  height: 65px;
  padding: 0;
}

#chessboard td:hover {
  -webkit-box-shadow: inset 0px 0px 5px 5px #50bf79;
  box-shadow: inset 0px 0px 5px 5px #50bf79;
}

#chessboard td.selected {
  -webkit-box-shadow: inset 0px 0px 4px 4px rgba(#b94343, 0.9);
  box-shadow: inset 0px 0px 4px 4px rgba(#c41d1d, 0.88);
}

#chessboard td.selected.select-destination {
  border: none;
}

.gy {
  border: transparent;
  border-collapse: collapse;
  background: transparent;
}

.gy td {
  width: 50px;
  height: 50px;
}

.gamelist {
  color: #9bb0bb;
}

a {
  color: #ffffff;
}
