<div id="new">
  <h1>Start New Game Here</h1>
  <div id="newform">
    <%= simple_form_for @game do |f| %>
      <%= f.label :title, "Name Your Game:" %>
      <%= f.text_field :title %>
      <%= f.submit "Begin!" %>
    <% end %>
  </div>
  </br>
</div>
