
<table>
 <thead>
  <tr><th><th>a<th>b<th>c<th>d<th>e<th>f<th>g<th>h
 <tbody>
  <tr><th>8<td>&#9820;<td>&#9822;<td>&#9821;<td>&#9819;<td>&#9818;<td>&#9821;<td>&#9822;<td>&#9820;
  <tr><th>7<td>&#9823;<td>&#9823;<td>&#9823;<td>&#9823;<td>&#9823;<td>&#9823;<td>&#9823;<td>&#9823;
  <tr><th>6<td><td><td><td><td><td><td><td>
  <tr><th>5<td><td><td><td><td><td><td><td>
  <tr><th>4<td><td><td><td><td><td><td><td>
  <tr><th>3<td><td><td><td><td><td><td><td>
  <tr><th>2<td>&#9817;<td>&#9817;<td>&#9817;<td>&#9817;<td>&#9817;<td>&#9817;<td>&#9817;<td>&#9817;
  <tr><th>1<td>&#9814;<td>&#9816;<td>&#9815;<td>&#9813;<td>&#9812;<td>&#9815;<td>&#9816;<td>&#9814;
</table>
