
<div id="show">
<% content_for :javascript_includes do %>
  <%= javascript_include_tag "chess_board.js" %>
  <%= javascript_include_tag "gameplay.js" %>
<% end %>
<h5><%= @game.title %></h5>
<div id="cbwithgys">
  <ul id="cbgylist">
    <li class="inline">
      <div class="gylist" id="blackgy">
        <table class="gy" id="bgrave"><td data-x='8' data-y="8" data-color="true"></td></table>
      </div>
    </li>
    <li class="inline"><table id="chessboard" data-turn='TODO:turn?'></table></li>
    <li class="inline">
      <div class="gylist" id="whitegy">
        <table class="gy" id="wgrave"><td data-x='8' data-y="8" data-color="false"></td></table>
      </div>
    </li>
  </ul>
</div>

<div>
<div>
</br>
</div>
</div>
<script>

  channel.bind('move_event', function(data) {
    var piece = data.piece;
    var fig = data.fig;
    var color = data.piece.color;
    var pieceimg = pieceImg(piece, fig, color);
    var origin = $("img[data-piece-id='" + piece.id +"']");
    if (piece.x == 8){
      var target = $("td[data-color='" + color + "']")
    } else {
      var target = $("td[data-y='" + piece.y +"'][data-x='" + piece.x + "']")
    };
    $("td.selected").removeClass('selected');
    target.append(pieceimg);
    origin.remove();
  });
</script>
