
<div id="show">
<% content_for :javascript_includes do %>
  <%= javascript_include_tag "chess_board.js" %>
  <%= javascript_include_tag "gameplay.js" %>
<% end %>
<h5><%= @game.title %></h5>
<div id="cbwithgys">
  <ul id="cbgylist">
    <li class="inline">
      <div class="gylist" id="blackgy">
        <table class="gy" id="bgrave"><td></td></table>
      </div>
    </li>
    <li class="inline"><table id="chessboard" data-turn='TODO:turn?'></table></li>
    <li class="inline">
      <div class="gylist" id="whitegy">
        <table class="gy" id="wgrave"><td></td></table>
      </div>
    </li>
  </ul>
</div>

<div>
<div>
</br>
</div>
</div>
